.head_center {
    text-align: center;
    padding-top: 6.2%;
    padding-bottom: 1.66%;
    color: aliceblue;
    margin-right: 1.66%;
    font-size: xx-large;
}

p {
    margin-bottom: 2.5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    margin-bottom: 2.9%;
    padding-bottom: 5%;
    background-image: url('./images/homepage_background.png');
}

img {
    width: 100%;
}

#purpose {
    padding-bottom: 10%;
}